body {
    width: 100%;
    height: 100%;
    padding: 1px;
    margin: auto;
}
h1 {
    text-align: left;
    color: white;
    

}
.header {
    padding: 20px;
    background-image: url(https://t3.ftcdn.net/jpg/06/44/18/96/360_F_644189664_PgAT9UcQvYKSXS6YzTY75BW0eezbGCbO.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    object-fit: contain;
}
.header a{
    float: right;
    color: white;
    text-align: right;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    text-align: left;
  
    

}
 header a .logo {
    font-size: 25px;
    font-weight: bold;
    text-align: left;
    float: left;
}
.header a:hover {
    background-color: black;
    color: white;
}
.header a.active{
   
    color: white;
}


.header a {
    float: right;
    display: block;
    text-align: center;
    
}
h2{
    color: white;
    font-weight: lighter;
    font-size: 200%;
}

.scroll-container{
    display: flex;
    padding: 100px;
    margin: 5px;
    border: 200px;


}
.scroll-container p{
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    color: white;
    text-align: left;
    font-weight: lighter;
}
.offer h3{
    text-align: left;
    color: black;
    display: ;
    padding: 20px;
    font-size: 190%;
    margin: 50px;
}
.offer p{
    display: flex;
    padding: 20px;
    font-size: 160%;
    margin: 50px;
}